global
	chroot /var/lib/haproxy
	daemon

defaults
	log global
	mode http

	timeout connect 3s
	timeout client 30s
	timeout server 30s

frontend http_frontend
	bind 0.0.0.0:80

	option httplog

	use_backend be_prom if { hdr(host) -i prom.webapps.teratan.net }

backend be_prom
	server prom 127.0.0.1:9090 check
